<form [formGroup]="supplierModel.formSupplierGroup" *ngIf="supplierModel.formSupplierGroup">
    Supplier Code: <input type="text" [(ngModel)]="supplierModel.supplierCode"
                formControlName="SupplierCodeControl"/><br>
    Supplier Name: <input type="text" [(ngModel)]="supplierModel.supplierName"
                            formControlName="SupplierNameControl"/><br>
                            
    Supplier Amount: <input type="text" [(ngModel)]="supplierModel.supplierAmount"
                [ngModelOptions]="{standalone:true}"/><br>
    <input [disabled]="!(supplierModel.formSupplierGroup.valid)" (click)="add()" type="button" value="Add Tempararily"/>
    <input [disabled]="disable" type="button" value="Add Permenently" (click)="postToServer()"/>
                
</form>
<div  *ngIf="supplierModel.formSupplierGroup&&supplierModel.formSupplierGroup.dirty" [hidden]="!(hasError('SupplierCodeControl','pattern'))">
    Supplier Code format is wrong</div><br>
<div *ngIf="supplierModel.formSupplierGroup&&supplierModel.formSupplierGroup.dirty" [hidden]="!(hasError('SupplierCodeControl','required'))">
    Supplier Code is required</div><br>
<div *ngIf="supplierModel.formSupplierGroup&&supplierModel.formSupplierGroup.dirty" [hidden]="!(hasError('SupplierNameControl','required'))">
    Supplier name is required</div><br>


<grid-ui [grid-columns]='[{
    "colName":"supplierName"
},
{
    "colName":"supplierCode"
},
{
    "colName":"supplierAmount"
}]' [grid-data]="supplierModels" (grid-selected)="selectSupplier($event)" 
  type-of-data = "'Supplier'"
  >
</grid-ui>

